*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: aVN;
*/
}

button.up {
    background: #ff789e99;
    border: #ff789e;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 22px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.copyright {
    background: #000;
}

.copyright p {
    color: #ddd;
    text-align: center;
    font-size: 14px;
    padding: 18px 0px;
}

.list_icon i {
    font-size: 25px;
    margin: 11px 15px;
}

.footer .address {
    margin-top: 18px;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 12px;
}

.footer small.text_footer {
    font-size: 13px;
    margin-bottom: 13px;
    display: inline-block;
}

.footer input {
    font-size: 16px;
    height: 41px;
}

.footer button {
    background: #ff789e;
    border: 9px solid #ff789e;
    width: 65px;
    height: 40px;
}

.footer button i {
    color: #fff;
    text-align: center;
}

.footer .phone {
    font-size: 14px;
    margin-bottom: 12px;
}

.footer i {
    margin-right: 6px;
}
.footer{
    background:url('https://theme.hstatic.net/1000185703/1000238955/14/image_footer_bg.png?v=2347');
    background-size: cover;
    width: 100%;
    height: 304px;
    padding-top: 50px;
    color: #fff;
}

ul.menu_footer li {
    list-style: none;
    
}

ul.menu_footer li a {
    color: #fff;
}
ul.menu_footer li a:hover {
    color: #ff798e;
    text-decoration: none;
}

.logo_item ul li {
    list-style: none;
    float: left;
    text-align: center;
    line-height: 152px;
    margin: 0 55px;
}
.logo_item{
    width: 100%;
    height: 152px;
    background:#ff789e;
}

.duoi ul li {
    list-style: none;
    float: left;
    margin: 8px;
}

.duoi ul li img:hover {
    width: 162px;
    height: 162px;
    transform: scale(1.1);
    overflow: hidden;

}
.duoi ul li img {
    width: 162px;
    height: 162px;
    transition: 0.4s;
     border:6px solid #000;
}
.newsfeed .tren{
    margin-bottom: 35px;
}
.newsfeed {
    margin-bottom: 70px;
}
.carousel-caption._newsfeed {
    position: initial;
}

span.user {
    font-size: 13px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.tieude {
    text-align: left;
}

.tieude a:hover {
    color: #ff4579;
    text-decoration: none;
}.tieude a {
    color: #ff789e;
    font-size: 19px;
    font-weight: bolder;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    transition: 04.s;
}
span.icon-prev .nut_banner,span.icon-next .nut_banner{
    opacity: 1;
    visibility: visible;

}
a.left.carousel-control,a.right.carousel-control {
    opacity: 1;
    visibility: hidden;
}

.comment ul li small.add_comment {
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
}

.comment ul {
    padding-top: 40px;
    padding-bottom: 50px
}

.comment ul li p.text {
    color: #fff;
    font-size: 15px;
    display: inline;
}

.comment ul li img {
    border: 8px solid #ff789e;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 10px;
}.comment ul li  {
    list-style: none;
}
.comment{
    background:url("https://theme.hstatic.net/1000185703/1000238955/14/image_home_testimonials.png?v=2347");
    background-size: cover;
    width: 100%;
    margin-top: 80px;

}
.contacts ._khoimot .phanduoi .layer2_contact .xt:hover{
    background-color: #ff789e;
    border: 1px solid #ff789e;
    color: #fff;
}
.contacts ._khoimot .phanduoi .layer2_contact .xt {
    background-color: #fff;
    border: 1px solid #ff789e;
    color: #ff789e;
    
}
.contacts ._khoimot .phanduoi .layer2_contact .mn{
    
    padding: 15px 43px;
}
.layer2_contact{
    padding-left: 10px;
}

.phanduoi ul li {
    list-style: none;
    line-height: 42px;
    border-bottom: 1px dashed #ddd;
    font-size: 15px;
}
.phanduoi ul  {
    padding-left: 10px;
}

.phanduoi ul li i {
    display: inline-block;
    margin-right: 6px;
}


.contacts ._khoimot .phantren .pack_price {
    color: #ff789e;
    font-weight: bold;
    font-size: 46px;
}

.contacts ._khoimot .phantren .pack_grade{
text-transform: uppercase;
font-weight: bold;
color: #fff;
border-bottom: 2px solid #fff;
display: inline-block;
font-size: 19px;
padding-top: 35px;
}
.contacts ._khoimot .phantren{
        background-size: cover;

    width: 354px;
    height: 160px;
    text-align: center;
}.contacts ._khoimot .phantren._img1{
    background-image: url('https://product.hstatic.net/1000185703/product/pack1_medium.png');
    
}.contacts ._khoimot .phantren._img2{
    background-image: url('https://product.hstatic.net/1000185703/product/pack2_medium.png');
    
    
}.contacts ._khoimot .phantren._img3{
    background-image: url('https://product.hstatic.net/1000185703/product/pack3_medium.png');
    
}
.contacts ._khoimot{  
    width: 354px;
    height: 100%;
    box-shadow: -20px 0px 8px 1px #f3efef6e;
    padding-bottom: 10px;
    float: left;
    margin:0 8px;
    border:1px solid #25252524;

}


.suplo h3 {
    color: #ff789e;
    font-family: sVN;
}

.suplo h4 {
    font-weight: 600;
}
@font-face{
    font-family: aVN;
    src:url(SVN-Fresh Script.otf);
}

.product_item .layer3 small.pt {
    background: red;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.product_item:hover .layer1 img {
    overflow: hidden;
    transform: scale(1.1);
}

.product_item .layer1 img {
    transition: 0.4s;
    overflow: hidden;
    width: 180px;
    height: 180px;

}

.product_item .layer1 h5 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    overflow: hidden; 
    padding: 20px 5px 0px 5px;

}

.product_item .layer1 h5:hover {
    color: #ff789e;
}

.product_item .layer1 span {
    color: #ff789e;
    font-size: 21px;
    font-weight: 700;
}

.product_item .layer1 s {
    font-size: 12px;
    color: #000;
}
.product_item:hover {
    border: 1px solid #a2a1a1;
    
}
.product_item {
    position: relative;
    width: 257px;
    height: 368px;
    transition: 0.8s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
}

.product_item .layer1 {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

.product_item:hover .layer2 {

    bottom: 0px;
    
}.product_item .layer2 {
    position: absolute;
    bottom: -100px;
    left: 0;
    z-index: 1;
    transition: 0.4s;
}

.product_item .layer2 a.xt.btn.btn-secondary.btn-sm {
    background: #ffffff;
    font-weight: 700;
    float: left;
    color: #ff789e;
    border: 1px solid #ff789e;
    padding: 13px 17px;
    margin: 4px 4px 4px 6px;
}

.product_item .layer2 a.mn.btn.btn-secondary.btn-sm {
    padding: 14px 23px;
    margin: 4px;
}

.product_item .layer2 a:hover.xt.btn.btn-secondary.btn-sm {
    background: #ff789e;
    color: #ffffff;
}

.product_item .layer3 {

    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3;
}

.products {
    text-align: center;
    padding-top: 50px;
}

.product_item .layer3 small.m {
    background: #f9c229;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
}


.products h3 {
    color: #ff789e;
}

.products p.text_product {
    font-size: 14px;
    color: #000;
    font-family: Arial;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 35px;
}

.products h4 {
    font-weight: 700;
}
.teamwork ul li span {
    font-size: 13px;
    color: #fff;
}
.teamwork p.text_teamwork {
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    padding-bottom: 15px;
}

.teamwork h4 {
    color: #fff;
    padding-bottom: 20px;
}

.teamwork {
    text-align: center;
}

.teamwork h3 {
    padding-top: 50px;
    color: #ff789e;
}



.teamwork ul li img {
    border-radius: 50%;
    border: 7px solid #ff789e;
    width: 200px;
    height: 200px;

}
.teamwork ul li{
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 0px 11px;
}

.teamwork ul li h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    padding-top: 15px;
}
.teamwork{
    background:url("http://theme.hstatic.net/1000185703/1000238955/14/image_home_professional.png?v=2347");
    background-size: cover;
    width: 100%;
    height: 496px;

}
._motkhoi{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
    transform: translateX(-1300px);
    transition: 0.4s;
}
.cackhoi ._motkhoi.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.cackhoi{
    position: relative;
    width: 100%;
    height: 298px;

}
.nut_services {
    text-align: center;
}

._motkhoi h4 {
    text-align: center;
    text-transform: uppercase;
    color: #ff789e;
    font-size: 20px;
    padding-top: 30px;
}

._motkhoi p.text_services {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

._motkhoi .images_services {
    width: 547px;
    height: 247px;
    padding-top: 30px;
    transition: 0.4s;
    overflow: hidden;
}

._motkhoi .images_services:hover {
    transform: scale(1.05);
    
}


li.active_services b {
    color: #fff;
    border-bottom: 1px solid #ff789e;
}
.services .menu_services {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-left: 200px;
}
.services  {
    padding-bottom: 50px;
    text-align: center;
}



.services ul li  b:hover{
     text-decoration:none;
     text-transform: uppercase;
     


}
.services ul li  b{
     text-decoration:none;
     text-transform: uppercase;
     color: #000;
     font-size: 20px;
     font-weight: bold;
     cursor: pointer;

}


.services ul li {
    float: left;
    padding: 0 17px;
     list-style: none;
   
}

.cungkhampha h4 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.cungkhampha p.text_cungkhampha {
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    padding-bottom: 35px;
}

.cungkhampha h3 {
    text-align: center;
    color: #ff789e;
    padding-top: 80px;
}



.dangkingay{
    background-image:url("http://theme.hstatic.net/1000185703/1000238955/14/image_home_advertisement.png?v=2347") ;
        background-size:cover;
        width: 100%;
        height: 300px;
        background-attachment:fixed;
        text-align: center;
}
 img.images_suplo:hover{
    transform: scale(1.1);
    transition:0.4s;
    overflow: hidden;
        
}
  img.images_suplo:hover{
    transition:0.4s;
    overflow: hidden;
        
}
 .images{
    
    width: 545px;
    height: 348px;
    overflow: hidden;
}
.nut_suplo {
    text-align: center;
}

p.text_suplo {
    color: #000;
    font-size: 13px;
    font-family: Arial;
}

.dangkingay h4 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.dangkingay h4.date {
    color: #ff789e;
    text-align: center;
    padding-bottom: 28px;
}

.dangkingay h3 {
    text-align: center;
    color: #ff789e;
    padding-top: 80px;
}
.suplo{
    padding:50px 0;
    text-align: center;
}
span.icon-prev.nut_banner{
    opacity: 0;
    transition: 0.4s;
}
.slide span.icon-next.nut_banner{
    opacity: 0;
    transition: 0.4s;
}


span.icon-prev.nut_banner {
    visibility: visible;
    margin-left: -72px;
}
span.icon-next.nut_banner {
    visibility: visible;
    margin-left: 72px;
}

span.icon-prev.nut_banner.prev_newsfeed {
    visibility: visible;
    color: #fdfdfd;
    opacity: 1;
    margin-left: 0;
    background: #ff789e;
}
span.icon-next.nut_banner.next_newsfeed{
    visibility: visible;
    color: #fdfdfd;
    opacity: 1;
    margin-right: 0;
    background: #ff789e;
}
.slide_banner:hover span.icon-prev.nut_banner{
    background-color:  #ff4579;
    opacity: 1;
}
.slide_banner:hover span.icon-next.nut_banner{
    background-color:  #ff4579;
        opacity: 1;

}
a.btn.btn-secondary.btn-sm:hover {
    background-color: #ff4579;
    
}
a.btn.btn-secondary.btn-sm, .hoivien {
    background-color: #ff789e;
    border: #ff789e;
    font-size: 13px;
    padding: 14px 31px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.4s;
}


.nutslide  {
    text-align: center;
    margin-bottom: 30px;
 
}


.text_slide p {
    text-align: center;
    margin-bottom: 30px;
}

.text_slide h2, span {
    text-align: center;
    color: white;
    font-size: 68px;
    display: inline-block;
    margin-bottom: 30px;
}

span.thoigian {
    font-size: 13px;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: -390px;
}

.list_menu ul li.cart a:hover{
    color: #ff789e;
}
.list_menu ul li.cart a{
                
                 transition: 0.4s;
       padding: 7px 15px;
}
.list_menu ul li.cart{
    display: inline-block;
    border: 1px solid #ff789e;
    color: #fff;
    list-style: none;
    margin: 10px 10px;

}

.list_menu ul li.hoivien{
    background-color: #ff789e;
    border: #ff789e;
    padding: 0px 10px;
    text-transform: uppercase;
    color: #fff;
    list-style: none;
    margin: 5px 10px;

}

.list_menu ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 15px 13px;
    display: block;
}

.list_menu ul li {
    float: left;
}

.logo {
    float: left;
    margin-right: 92px;
}

.topadd_left a, .topadd_right small, .topadd_right a  {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;

}


.topadd_left {
    float: left;
}

.topadd_right {
    float: right;
    display: inline-block;
}


.top_add {
    width: 100%;
    height: 36px;
    background-color: #FF789E;
    line-height:36px;
    color: #fff;
}
.slide_banner{
    position: relative;
    width: 100%;
    height: 550px;
}
.slide_banner .menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #0000008f;
    width: 100%;
    height: 98px;
}



.nutslide  {
    text-align: center;
    margin-bottom: 30px;
   
}


.text_slide p {
    text-align: center;
    margin-bottom: 30px;
}

p a {
    text-align: center;
    color: white;
    font-size: 72px;
    display: inline-block;
    margin-bottom: 30px;
}

span.icon-next.nut_banner {
    visibility: visible;
    color: #f1f1f1;
    background: #ff789e;
}




.list_menu ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    display: block;
}

.list_menu ul li {
    float: left;
    list-style: none;
}

.logo {
    float: left;
    margin-right: 92px;
}

.topadd_left a, .topadd_right small, .topadd_right a  {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    text-decoration: none;

}


.topadd_left {
    float: left;
}

.topadd_right {
    float: right;
    display: inline-block;
}


.top_add {
    width: 100%;
    height: 36px;
    background-color: #FF789E;
    line-height:36px;
    color: #fff;

}
.slide_banner{
    position: relative;
    width: 100%;
    height: 100%;
}


.slide_banner .carousel-control.left.nentrongsuot,.carousel-control.right.nentrongsuot {
    background-image: linear-gradient(to right,rgba(253, 253, 253, 0) 0%,rgba(0,0,0,.0001) 100%);
    visibility: hidden;
}

.slide_banner .menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #0000008f;
    width: 100%;
    height: 98px;
}
h4.text {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    

}
h3.text{
    color: #ff789e;
    text-align: center;
    padding-top: 50px;
}h4.text_white{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
p.text_newsfeed {
    font-size: 14px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

p.text {
    color: #847f7f;
    text-align: center;
}


@media (max-width:992px){
    
}
@media (max-width: 768px){
    .top_add{
        display: none;
    }
    .slide_banner .menu ul li{
        display: none;
    }
    .slider .carousel-caption .text_slide {
        display: none;
        visibility: hidden;
    }
   /* .slidebanner{
        height: 100%;
    }*/
    .menu_services ul li{
       clear: both;

    }.menu_services ul li b{
       font-weight: normal;
       text-align: left;
       margin-left: -150px;
    }
    .services .cackhoi{
        height: 550px;
    }
    .teamwork{
        padding-bottom: 550px;
    }
    .teamwork li.an{
        display: none;
    }
    .products .slide_banner .product_item{
        width: 25%;
    }.products .slide_banner .product_item.an{
         display: none;
    }
    .contacts ._bakhoi ._khoimot{
        width: 45%;
    }.contacts ._bakhoi ._khoimot .phantren{
        width: 100%;
    }.contacts ._bakhoi ._khoimot.an{
        display: none;
        visibility: hidden;
    }
    .newsfeed .duoi ul li img{
        width: 150px;
        height: 150px;
    }
    .logo_item ul li.an{
        display: block;
    }
@media(min-width: 760px){
   
}
